@import "../../../../styles/colors";

:host {
  display: block;
}

.container {
  padding: 5px 5px 0 5px;
  overflow-y: auto;
}

.preamp-row {
  padding: 5px 10px;
  margin-bottom: 4px;
}

.filter-header {
  font-size: 9px;
  color: #8E8E93;
  padding: 2px 5px;
  border-bottom: 1px solid rgba(142, 142, 147, 0.3);
  margin-bottom: 2px;
}

.filters-container {
  overflow-y: auto;
  flex: 1;
}

.filter-row {
  padding: 2px 5px;
  border-bottom: 1px solid rgba(142, 142, 147, 0.1);
  min-height: 24px;

  &.disabled {
    opacity: 0.5;
  }
}

.col-on {
  width: 32px;
  min-width: 32px;
  text-align: center;
}

.col-type {
  width: 70px;
  min-width: 70px;
  padding: 0 4px;
}

.col-freq {
  width: 55px;
  min-width: 55px;
  text-align: center;
}

.col-gain {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding: 0 4px;

  eqm-flat-slider {
    flex: 1;
  }

  eqm-value-screen {
    width: 45px;
    min-width: 45px;
  }
}

.col-q {
  width: 50px;
  min-width: 50px;
  text-align: center;
}
